h1
{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    font-weight: normal;

    margin: auto;

    text-align: center;
    vertical-align: middle;

    color: #fff;
}

h2
{
    font-family: 'Lobster', cursive;
    font-size: 24px;
    font-weight: normal;

    color: #fff;
}

li
{
    font-family: 'Lobster', cursive;
    font-size: 20px;

    color: #fff;
}

p
{
    font-family: 'Lobster', cursive;

    display: inline;

    color: #fff;
}

table
{
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 40px;

    border-collapse: collapse;

    color: #fff;
    border: 1px solid white;
}

th,
td
{
    font-family: 'Lobster', cursive;
    font-size: 20px;

    text-align: center;

    color: #fff;
    border: 1px solid white;
}

.button
{
    display: flex;

    width: 60px;
    height: 30px;
    margin-left: 10px;

    border-radius: 5px;
    background-color: #614571;

    justify-content: center;
    align-items: center;
}

.circle
{
    float: left;

    width: 125px;
    height: 125px;
    margin-left: 20px;

    border: 1px solid white;
    border-radius: 50%;
}

.container
{
    position: fixed;
    top: 10px;
    left: 35%;

    width: 375px;
    height: 667px;
    margin: auto;
    padding: 0;

    background-image: url(https://i.imgur.com/eSRd9gb.png);
    background-repeat: no-repeat;
}

.head
{
    display: flex;

    width: 100%;
    height: 80px;

    background-color: #b1b1b1;

    align-items: center;
}

.homes-button
{
    display: flex;

    width: 150px;
    height: 60px;
    margin: auto;
    margin-top: 65px;

    border-radius: 10px;
    background-color: #bdbdbd;

    justify-content: center;
    align-items: center;
}

.game-container
{
    width: 300px;
    height: 300px;
    margin-top: 60px;
    margin-left: 30px;
}

.row1
{
    width: 300px;
    height: 150px;
    margin-top: 40px;
}

.row2
{
    width: 300px;
    height: 150px;
    margin-top: 20px;
}

.time
{
    margin-left: 90px;
}

.score
{
    margin-left: 80px;
}

.head2
{
    display: flex;

    width: 100%;
    height: 50px;

    background-color: #b1b1b1;

    align-items: center;
}

.over
{
    margin-top: 60px;
    margin-left: 50px;
}

.overlay
{
    position: fixed;
    top: 10px;
    left: 35%;

    width: 375px;
    height: 667px;
    margin: auto;

    opacity: .85;
    background-color: #000;
}

.cont
{
    position: fixed;
    top: 10px;
    left: 35%;

    width: 375px;
    height: 667px;
    margin: auto;
}

#master
{
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 30px;

    border: 1px solid white;
    border-radius: 50%;
}

#rules
{
    margin-left: 65px;
}
