h1
{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    font-weight: normal;

    margin: auto;

    text-align: center;
    vertical-align: middle;

    color: #ffffff;
}
h2
{
    font-size: 20px;
    font-weight: normal;

    color: #ffffff;
}
p{
	color: #ffffff;
	display: inline;
}
#body
{
    width: 600px;
    height: 900px;

    background-color: #696969;
}
section
{
    display: none;
    width: 375px;
    height: 667px;
    margin: auto;
    padding: 0;

    background-image: url(img/space.png);
    background-repeat: no-repeat;
}
.button
{
    line-height: 30px;

    width: 150px;
    height: 30px;
    margin: auto;
    margin-top: 20px;

    text-align: center;
    vertical-align: middle;

    border-radius: 5px;
    background-color: #b1b1b1;
}

.circle
{
    float: left;

    width: 50px;
    height: 50px;
    margin-left: 5px;

    border: 1px solid black;
    border-radius: 25px;
}

#home_page
{
    display: block;

    margin: auto;
}

table,th,td
{
    border: 1px solid black;
}

.container
{
    width: 375px;
    height: 667px;
    margin: auto;
    padding: 0;

    background-image: url(img/space.png);
    background-repeat: no-repeat;
}

.head
{
    display: flex;

    width: 100%;
    height: 80px;

    background-color: #b1b1b1;

    align-items: center;
}

.homes-button
{
    line-height: 30px;

    display: flex;

    width: 150px;
    height: 60px;
    margin: auto;
    margin-top: 65px;

    text-align: center;
    vertical-align: middle;

    border-radius: 10px;
    background-color: #bdbdbd;

    justify-content: center;
    align-items: center;
}

.game-container
{
    width: 200px;
    height: 200px;
}
.row1
{
    width: 150px;
    height: 60px;
}
.row2
{
    width: 150px;
    height: 60px;
}
